.OrderScreen{
  height: 100%;
  width: 100%;
}

.OrderScreen h2 {
  margin: 10px 20px;
}

.OrderScreen p {
  margin: 10px 20px;
}

.OrderScreen a {
  text-decoration: none;
  color: #333;
}

.cart{
  width: 100%;
  display: flex;
}

.cartItems {
  width: 70%;
}

.cartItems img {
  width: 90%;
  min-height: 15%;
}

.cartItems  div{
  width: 100%;
  margin-left: 1rem ;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-gap: 10px;
  align-items: center;
}

.cart .subTotal{
  border: 1px solid #333;
  height: 10%;
}
.cart h3 {
  margin: 5px 5px;
  padding: 2px;
}
.cart h4 {
  margin: 5px 5px;
  padding: 2px;
}

.cart .subTotal button {
 border: none;
 width: 80%;
 background: black;
 color: white;
 margin: 5px 5px 5px 10px;
 padding: 2px 2px;
 cursor: pointer;
 align-items: center;
}

.cart .subTotal button:hover{
  background-color: rgb(46, 46, 48);
}


