.cartScreen{
  height: 100%;
  width: 100%;
}

.cartScreen h1 {
  margin: 10px 20px;
}

.cartScreen h2 {
  margin: 10px 20px;
}

.cart{
  width: 100%;
  display: flex;
}

.cartItems {
  width: 100%;
}

.cartItems img {
  width: 80%;
  min-height: 80%;
}

.cartItems  div{
  width: 60%;
  margin-left: 2rem ;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
  grid-row: 1 / 2;
  grid-gap: 7px;
  align-items: center;
}

.cartItems select{
  font-weight: 600;
  border: 1px solid rgb(235, 219, 219);
  height: 2rem;
  width: 3.2rem;
  background-color: rgb(245, 244, 244);
  color: black;
 }

 .cartItems button {
  border: none;
  width: 100%;
  height: 100%;
  background:  rgb(245, 244, 244);
  color: rgb(56, 55, 55);
  padding: 12px 10px;
  cursor: pointer;
 }

 .cart .subTotal{
   border: 1px solid #333;
   height: 10%;
   margin-right: 10px;
 }
 .cart h4 {
   margin: 5px 5px;
   padding: 2px;
}
 .cart h5 {
   margin: 5px 5px;
   padding: 2px;
}

.cart .subTotal button {
  border: none;
  width: 80%;
  background: black;
  color: white;
  margin: 5px 5px 5px 10px;
  padding: 2px 2px;
  cursor: pointer;
  align-items: center;
 }

 .cart .subTotal button:hover{
   background-color: rgb(46, 46, 48);
 }